@import url('https://fonts.googleapis.com/css?family=Special+Elite');
body{
  font-family: "Special Elite";
  font-size: 50px;
}
h1{
  padding: 10px;
  margin: 0 auto 0 auto;
  color:#f7db76;
  font-weight: lighter;
}
.us {
  
}
@media only screen and (min-width: 760px) {
	.my-text {
		font-size: 50px;
	}
  .button {
    font-size: 50px;
  }
  a {
    font-size: 17px;
    margin: 20px;
    }
  }
}
