
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
  font-family: "Special Elite";
  
a:hover{
  color: #56F0C6;
}
.meny{
  font-family: "Special Elite";
  display: flex;
  margin: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: center;
}
a{
  font-family: "Special Elite";
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}
.logotyp{
  height: 330px;
  width: 34%;
  object-fit: contain;
}
.first_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h1{
  font-family: "Special Elite";
  color:#f7db76;
  padding: 10px;
  margin: 0 auto 0 auto;
  font-weight: lighter;
  text-align: center;
}
.my-text{
  width: 33%;
  font-size: 50px;
}
.buttondiv{
  text-align: center;
}
.button{
  font-weight: bold;
  font-size: 35px;
  margin: 80px auto;
  background-color: #000000;
  border: none;
  color: #ffffff;
  transition: 0.3s;
  padding: 20px;
  display: inline-block;
}

a:hover{
  color: #58F09C;
}
.second_container{
  margin: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.ginger{
  height: 150px;
}
.instabild{
  height: 200px;
}
.rot{
  height: 150px;
}
@media only screen and (max-width: 760px) {
  .meny{
    flex-direction: row;
    font-size: 10px;
    margin: 3px;
  }
  .logotyp{
    height: 100px;
  }
  .my-text{
		font-size: 20px;
	}
  .button{
    font-size: 20px;
  }
  .second_container{
    flex-direction: column-reverse;
  }
  }
